* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff url(../img/geometry2.png); /* Background pattern from Subtle Patterns */
  font-family: "Coda", cursive;
}

.container {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 5vw;
}

main {
  max-width: 100vw;
  max-height: 100vw;
}

/*
 * Styles for the deck of cards
 */

.deck {
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  border-radius: 10px;
  height: 90vw;
  width: 90vw;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 3vw;
}

.card {
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  justify-content: center;
  align-items: center;
  background: #2e3d49;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  height: calc(74vw / 4);
  width: calc(74vw / 4);
  font-size: 0;
  color: #fff;
  margin: 0 3vw 3vw 0;
}

.card:nth-child(4n) {
  margin-right: 0;
}

.card:nth-child(13n),
.card:nth-child(14n),
.card:nth-child(15n),
.card:nth-child(16n) {
  margin-bottom: 0;
}

.card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

.card.show {
  font-size: 5vw;
}

.card.match {
  background: #02ccba;
  font-size: 5vw;
  cursor: default;
}

.selected {
  border: 0.5vw solid yellow;
}

.wrong {
  animation-name: shake-it-wrong;
  animation-duration: 0.25s;
}

.right {
  animation-name: shake-it-right;
  animation-duration: 0.25s;
}

/* TODO: simulate NO */
@keyframes shake-it-wrong {
  0% {
    left: -1.5vw;
  }
  25% {
    left: 1.5vw;
  }
  50% {
    left: -1.5vw;
  }
  100% {
    left: 1.5vw;
  }
}

/* TODO: simulate YES */
@keyframes shake-it-right {
  0%   {
    top: -1.5vw;
  }
  25%  {
    top: 1.5vw;
  }
  50%  {
    top: -1.5vw;
  }
  100% {
    top: 1.5vw;
  }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 3vw;
}

.stars {
  display: inline-block;
  margin: 0 0.5vw 0 0;
  padding: 0;
  margin: 0;
}

.stars li {
  display: inline-block;
  list-style: none;
}

.restart {
  cursor: pointer;
  float: right;
}

/*
 * Styles for the modal
 */

.modal-container {
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  position: fixed;
  display: flex;
  color: white;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.modal {
  text-align: center;
  width: 100%;
}

.hidden {
  display: none;
}

button {
  background-color: lightgreen;
  text-shadow: 1px 1px green;
  font: bold 5vw monospace;
  border-radius: 0.5vw;
  cursor: pointer;
  padding: 1vw;
  color: white;
}

.leader-board {
  justify-content: center;
  margin-top: 1.7vw;
  display: flex;
}

table {
  border-collapse: collapse;
  width: 50%;
}

tr {
  padding: 1vw;
}

th {
  border-bottom: 0.2vw solid #fff;
}

th,
td {
  padding-left: 1.5vw;
  text-align: left;
}

label,
.player-name,
.set-name,
.new-game,
.continue-game {
  margin: 0 auto 10px;
  display: block;
  padding: 2vw;
}

.player-name {
  text-align: center;
  font-size: 3vw;
}

@media screen and (max-width: 400px) {
  table,
  .modal {
    width: 90%;
  }
}

@media screen and (min-width: 700px) {
  button {
    font-size: 24px;
    padding: 5px;
  }

  table {
    width: 250px;
  }

  tr {
    padding: 10px;
  }

  th {
    border-bottom: 2px solid #fff;
  }

  th,
  td {
    padding-left: 15px;
  }

  .deck {
    width: 660px;
    height: 660px;
    padding: 32px;
  }

  .card {
    height: 125px;
    width: 125px;
    margin: 0 32px 32px 0;
  }

  .card.show {
    font-size: 33px;
  }

  .card.match {
    font-size: 33px;
  }

  .selected {
    border: 5px solid yellow;
  }

  .score-panel {
    width: 345px;
  }

  .modal {
    width: 300px;
  }

  .leader-board {
    margin-top: 20px;
  }

  .score-panel {
    font-size: 1em;
  }

  h1 {
    font-size: 36px;
  }

  .card:nth-child(4n) {
    margin-right: 0;
  }

  .card:nth-child(13n),
  .card:nth-child(14n),
  .card:nth-child(15n),
  .card:nth-child(16n) {
    margin-bottom: 0;
  }

  .player-name {
    font-size: 20px;
  }
}